
 body{
        margin: auto;
        padding:auto;
        background-image:url("../images/dust_scratches.png");
        
   }
   
    
    header{
        border-bottom: solid #cccccc;
        margin: 0;
        background:white; 
        overflow:auto      
    }

    h1{
        
        background:#4aaaa5;
        width:25%;
        margin-bottom:0;
        margin:0;
        float:left;
        margin-right:0;
        margin-left:157px;
        padding-top:10px;
        padding-bottom:13px;
        padding-left:5px;
        padding-right:5px;
        font-size:24px;
        text-align:center;
        font-family:" Georgia, 'Times New Roman', Times, serif";
        color:#ffffff
        
    }

        h2{
            margin-left:20px;
            text-align:left;
            color:#4aaaa5;
            padding-top:19px
        }
    

     footer{
        clear:both; 
        background:#666666;
        padding-bottom:20px;
        color: white;
        text-align:center;
        margin:0;
        position:fixed;
        bottom:0;
        width:100%;
        border-bottom:solid black;
        border-top:solid #4aaaa5 5px;
        padding-bottom:1px;
        padding-top:15px;
    }

   nav{
      float:right;
      margin-right:133px
   }
   

   img{
       float:left;
       margin-right:10px;
       margin-left:20px;
       width:150px;
       height:150px
       
   }

   li{
       list-style: none;
       display:inline-block;
       margin-right:20px
        }

  a{
      color:lightslategray
  }

  section{
      background:white;
      text-align:center;
      width:960px;
      margin:auto;
      margin-top:2%;
      margin-bottom:4.5%;
      
  }

  p{
      font-size:18px;
      color:lightslategray
  }

  .navlinks {
      text-decoration: none;
  }
 
  hr{
      border-top:solid lightgrey;
      width:94%
  }

